<h3>{{#link-to 'question' question.id}}{{question.ask}}{{/link-to}} - by {{question.author}}</h3>
<sup><h5>Answers: <span class="answer-popularity">{{answerPopularity}}</span> | {{question-popularity question}}</h5></sup>
