<div class="question-page">
  {{edit-question edit="edit" question=model}}
  <div class="question-top">
    <div class="question-detail">
      {{question-detail question=model}}
    </div>
    <div class="new-answer">
      {{new-answer saveAnswer="saveAnswer" question=model}}
    </div>
  </div>
  <div class="answer-list">
    {{answer-list question=model}}
  </div>
</div>  
